In [2]:
import numpy as np
import pandas as pd
import pytz

In [4]:
from datetime import datetime
from pandas.tseries.offsets import Hour, Minute
from pandas.tseries.offsets import Day, MonthEnd
from pandas.tseries.offsets import Hour

In [5]:
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')

In [6]:
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [7]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [8]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')

In [9]:
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [10]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

In [11]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')

In [12]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [13]:
ts

2012-03-07 09:30:00   -0.223977
2012-03-08 09:30:00    1.455151
2012-03-09 09:30:00   -0.274834
2012-03-12 09:30:00   -0.203339
2012-03-13 09:30:00   -0.567050
2012-03-14 09:30:00   -0.658986
2012-03-15 09:30:00   -0.157422
2012-03-16 09:30:00    2.028604
2012-03-19 09:30:00    1.113781
2012-03-20 09:30:00    0.153723
Freq: B, dtype: float64

In [14]:
ts1 = ts[:7].tz_localize('Europe/London')

In [15]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')

In [16]:
result = ts1 + ts2

In [17]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

In [31]:
p = pd.Period(2007, freq='Y-DEC')

In [19]:
p

Period('2007', 'Y-DEC')

In [20]:
p + 5

Period('2012', 'Y-DEC')

In [32]:
pd.Period('2014', freq='Y-DEC') - p

In [33]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')

In [34]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]')

In [35]:
pd.Series(np.random.randn(6), index=rng)

2000-01   -0.166290
2000-02   -0.621801
2000-03   -0.009683
2000-04    0.440272
2000-05   -1.271580
2000-06    1.578793
Freq: M, dtype: float64

In [36]:
values = ['2001Q3', '2002Q2', '2003Q1']

In [37]:
index = pd.PeriodIndex(values, freq='Q-DEC')

In [38]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]')

In [39]:
p = pd.Period('2007', freq='Y-DEC')

In [40]:
p

Period('2007', 'Y-DEC')

In [41]:
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [42]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [44]:
p = pd.Period('2007', freq='Y-JUN')

In [45]:
p

Period('2007', 'Y-JUN')

In [46]:
p.asfreq('M', 'start')

Period('2006-07', 'M')

In [47]:
p.asfreq('M', 'end')

Period('2007-06', 'M')

In [48]:
p = pd.Period('Aug-2007', 'M')

In [49]:
p.asfreq('Y-JUN')

Period('2008', 'Y-JUN')

In [50]:
rng = pd.period_range('2006', '2009', freq='Y-DEC')

In [51]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [52]:
ts

2006   -1.597229
2007    0.682140
2008    0.598902
2009   -1.651826
Freq: Y-DEC, dtype: float64

In [53]:
ts.asfreq('M', how='start')

2006-01   -1.597229
2007-01    0.682140
2008-01    0.598902
2009-01   -1.651826
Freq: M, dtype: float64

In [54]:
ts.asfreq('B', how='end')

/tmp/ipykernel_20664/3401117408.py:1: FutureWarning: PeriodDtype[B] is deprecated and will be removed in a future version. Use a DatetimeIndex with freq='B' instead
  ts.asfreq('B', how='end')

2006-12-29   -1.597229
2007-12-31    0.682140
2008-12-31    0.598902
2009-12-31   -1.651826
Freq: B, dtype: float64

In [55]:
p = pd.Period('2012Q4', freq='Q-JAN')

In [56]:
p

Period('2012Q4', 'Q-JAN')

In [57]:
p.asfreq('D', 'start')

Period('2011-11-01', 'D')

In [58]:
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [59]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60

/tmp/ipykernel_20664/180315518.py:1: FutureWarning: Period with BDay freq is deprecated and will be removed in a future version. Use a DatetimeIndex with BDay freq instead.
  p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
/tmp/ipykernel_20664/180315518.py:1: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60

In [60]:
p4pm

Period('2012-01-30 16:00', 'min')

In [61]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [62]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')

In [63]:
ts = pd.Series(np.arange(len(rng)), index=rng)

In [64]:
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int64

In [65]:
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60

/tmp/ipykernel_20664/553239697.py:1: FutureWarning: PeriodDtype[B] is deprecated and will be removed in a future version. Use a DatetimeIndex with freq='B' instead
  new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
/tmp/ipykernel_20664/553239697.py:1: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60

In [66]:
ts.index = new_rng.to_timestamp()

In [67]:
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int64

In [68]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')

/tmp/ipykernel_20664/931488141.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  rng = pd.date_range('2000-01-01', periods=3, freq='M')

In [69]:
ts = pd.Series(np.random.randn(3), index=rng)

In [70]:
ts

2000-01-31    1.466055
2000-02-29   -0.682919
2000-03-31   -0.592358
Freq: ME, dtype: float64

In [71]:
pts = ts.to_period()

In [72]:
pts

2000-01    1.466055
2000-02   -0.682919
2000-03   -0.592358
Freq: M, dtype: float64

In [73]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')

In [74]:
ts2 = pd.Series(np.random.randn(6), index=rng)

In [75]:
ts2

2000-01-29   -0.733837
2000-01-30   -1.838151
2000-01-31    0.558505
2000-02-01    0.372257
2000-02-02   -0.249657
2000-02-03   -0.767392
Freq: D, dtype: float64

In [76]:
ts2.to_period('M')

2000-01   -0.733837
2000-01   -1.838151
2000-01    0.558505
2000-02    0.372257
2000-02   -0.249657
2000-02   -0.767392
Freq: M, dtype: float64

In [77]:
pts = ts2.to_period()

In [78]:
pts

2000-01-29   -0.733837
2000-01-30   -1.838151
2000-01-31    0.558505
2000-02-01    0.372257
2000-02-02   -0.249657
2000-02-03   -0.767392
Freq: D, dtype: float64

In [79]:
pts.to_timestamp(how='end')

2000-01-29 23:59:59.999999999   -0.733837
2000-01-30 23:59:59.999999999   -1.838151
2000-01-31 23:59:59.999999999    0.558505
2000-02-01 23:59:59.999999999    0.372257
2000-02-02 23:59:59.999999999   -0.249657
2000-02-03 23:59:59.999999999   -0.767392
Freq: D, dtype: float64

In [82]:
rng = pd.date_range('2000-01-01', periods=100, freq='D')

In [83]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [84]:
ts

2000-01-01   -0.469840
2000-01-02   -1.735214
2000-01-03    0.157183
2000-01-04    0.559968
2000-01-05    0.132234
                ...
2000-04-05   -0.054153
2000-04-06    2.546067
2000-04-07   -0.232234
2000-04-08    1.590988
2000-04-09    0.709987
Freq: D, Length: 100, dtype: float64

In [85]:
ts.resample('M').mean()

/tmp/ipykernel_20664/2305925915.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  ts.resample('M').mean()

2000-01-31    0.121146
2000-02-29    0.199563
2000-03-31    0.165505
2000-04-30    0.485363
Freq: ME, dtype: float64

In [86]:
ts.resample('M', kind='period').mean()

/tmp/ipykernel_20664/1597458493.py:1: FutureWarning: The 'kind' keyword in Series.resample is deprecated and will be removed in a future version. Explicitly cast the index to the desired type instead
  ts.resample('M', kind='period').mean()
/tmp/ipykernel_20664/1597458493.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  ts.resample('M', kind='period').mean()

2000-01    0.121146
2000-02    0.199563
2000-03    0.165505
2000-04    0.485363
Freq: M, dtype: float64

In [87]:
rng = pd.date_range('2000-01-01', periods=12, freq='T')

/tmp/ipykernel_20664/3835676484.py:1: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  rng = pd.date_range('2000-01-01', periods=12, freq='T')

In [88]:
ts = pd.Series(np.arange(12), index=rng)

In [89]:
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: min, dtype: int64

In [90]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5min, dtype: int64

In [91]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5min, dtype: int64

In [92]:
ts.resample('5min', closed='right', label='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5min, dtype: int64

In [94]:
ts.resample('5min').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

In [95]:
frame = pd.DataFrame(np.random.randn(2, 4),
                     ......: index=pd.date_range('1/1/2000', periods=2,
                     ......: freq='W-WED'),
                     ......: columns=['Roma', 'Milão', 'Toscana', 'Florença'])

In [96]:
frame

                Roma     Milão   Toscana  Florença
2000-01-05 -1.262898 -0.460597 -0.337807  0.019524
2000-01-12 -1.221449 -0.155623  1.434020 -0.633530

In [97]:
df_daily = frame.resample('D').asfreq()

In [98]:
df_daily

                Roma     Milão   Toscana  Florença
2000-01-05 -1.262898 -0.460597 -0.337807  0.019524
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -1.221449 -0.155623  1.434020 -0.633530

In [99]:
frame.resample('D').ffill()

                Roma     Milão   Toscana  Florença
2000-01-05 -1.262898 -0.460597 -0.337807  0.019524
2000-01-06 -1.262898 -0.460597 -0.337807  0.019524
2000-01-07 -1.262898 -0.460597 -0.337807  0.019524
2000-01-08 -1.262898 -0.460597 -0.337807  0.019524
2000-01-09 -1.262898 -0.460597 -0.337807  0.019524
2000-01-10 -1.262898 -0.460597 -0.337807  0.019524
2000-01-11 -1.262898 -0.460597 -0.337807  0.019524
2000-01-12 -1.221449 -0.155623  1.434020 -0.633530

In [100]:
frame.resample('D').ffill(limit=2)

                Roma     Milão   Toscana  Florença
2000-01-05 -1.262898 -0.460597 -0.337807  0.019524
2000-01-06 -1.262898 -0.460597 -0.337807  0.019524
2000-01-07 -1.262898 -0.460597 -0.337807  0.019524
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -1.221449 -0.155623  1.434020 -0.633530

In [101]:
frame.resample('W-THU').ffill()

                Roma     Milão   Toscana  Florença
2000-01-06 -1.262898 -0.460597 -0.337807  0.019524
2000-01-13 -1.221449 -0.155623  1.434020 -0.633530

In [102]:
frame = pd.DataFrame(np.random.randn(24, 4),
                     ......: index=pd.period_range('1-2000', '12-2001',
                     ......: freq='M'),
                     ......: columns=['Roma', 'Milão', 'Toscana', 'Florença'])

In [103]:
frame[:5]

             Roma     Milão   Toscana  Florença
2000-01 -0.361283  0.038700 -1.179974 -0.960737
2000-02  1.593640 -1.099010  0.111984  0.408049
2000-03  0.506001  1.749602  0.067533  0.262467
2000-04  0.456867 -1.708282  0.267499 -0.845547
2000-05  0.353380 -0.441149 -1.611670 -0.246093

In [104]:
annual_frame = frame.resample('A-DEC').mean()

/tmp/ipykernel_20664/1557579838.py:1: FutureWarning: 'A-DEC' is deprecated and will be removed in a future version, please use 'Y-DEC' instead.
  annual_frame = frame.resample('A-DEC').mean()
/tmp/ipykernel_20664/1557579838.py:1: FutureWarning: Resampling with a PeriodIndex is deprecated. Cast index to DatetimeIndex before resampling instead.
  annual_frame = frame.resample('A-DEC').mean()

In [105]:
annual_frame

          Roma     Milão   Toscana  Florença
2000  0.085982 -0.340420 -0.347810 -0.309705
2001 -0.100849 -0.201187  0.347933  0.120582

In [106]:
annual_frame.resample('Q-DEC').ffill()

/tmp/ipykernel_20664/2878672077.py:1: FutureWarning: Resampling with a PeriodIndex is deprecated. Cast index to DatetimeIndex before resampling instead.
  annual_frame.resample('Q-DEC').ffill()

            Roma     Milão   Toscana  Florença
2000Q1  0.085982 -0.340420 -0.347810 -0.309705
2000Q2  0.085982 -0.340420 -0.347810 -0.309705
2000Q3  0.085982 -0.340420 -0.347810 -0.309705
2000Q4  0.085982 -0.340420 -0.347810 -0.309705
2001Q1 -0.100849 -0.201187  0.347933  0.120582
2001Q2 -0.100849 -0.201187  0.347933  0.120582
2001Q3 -0.100849 -0.201187  0.347933  0.120582
2001Q4 -0.100849 -0.201187  0.347933  0.120582

In [107]:
annual_frame.resample('Q-DEC', convention='end').ffill()

/tmp/ipykernel_20664/389194020.py:1: FutureWarning: The 'convention' keyword in DataFrame.resample is deprecated and will be removed in a future version. Explicitly cast PeriodIndex to DatetimeIndex before resampling instead.
  annual_frame.resample('Q-DEC', convention='end').ffill()
/tmp/ipykernel_20664/389194020.py:1: FutureWarning: Resampling with a PeriodIndex is deprecated. Cast index to DatetimeIndex before resampling instead.
  annual_frame.resample('Q-DEC', convention='end').ffill()

            Roma     Milão   Toscana  Florença
2000Q4  0.085982 -0.340420 -0.347810 -0.309705
2001Q1  0.085982 -0.340420 -0.347810 -0.309705
2001Q2  0.085982 -0.340420 -0.347810 -0.309705
2001Q3  0.085982 -0.340420 -0.347810 -0.309705
2001Q4 -0.100849 -0.201187  0.347933  0.120582

In [108]:
annual_frame.resample('Q-MAR').ffill()

/tmp/ipykernel_20664/3348307439.py:1: FutureWarning: Resampling with a PeriodIndex is deprecated. Cast index to DatetimeIndex before resampling instead.
  annual_frame.resample('Q-MAR').ffill()

            Roma     Milão   Toscana  Florença
2000Q4  0.085982 -0.340420 -0.347810 -0.309705
2001Q1  0.085982 -0.340420 -0.347810 -0.309705
2001Q2  0.085982 -0.340420 -0.347810 -0.309705
2001Q3  0.085982 -0.340420 -0.347810 -0.309705
2001Q4 -0.100849 -0.201187  0.347933  0.120582
2002Q1 -0.100849 -0.201187  0.347933  0.120582
2002Q2 -0.100849 -0.201187  0.347933  0.120582
2002Q3 -0.100849 -0.201187  0.347933  0.120582

In [110]:
from scipy.stats import percentileofscore

In [111]:
score_at_2percent = lambda x: percentileofscore(x, 0.02)