In [2]:
import numpy as np
import pandas as pd

In [9]:
from datetime import datetime

In [14]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         ......: datetime(2011, 1, 7), datetime(2011, 1, 8),
         ......: datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [15]:
ts = pd.Series(np.random.randn(6), index=dates)

In [16]:
ts

2011-01-02    0.436689
2011-01-05    0.535535
2011-01-07    0.119409
2011-01-08   -0.945816
2011-01-10   -0.663032
2011-01-12   -1.129520
dtype: float64

In [17]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [18]:
ts + ts[::2]

2011-01-02    0.873377
2011-01-05         NaN
2011-01-07    0.238818
2011-01-08         NaN
2011-01-10   -1.326064
2011-01-12         NaN
dtype: float64

In [19]:
ts.index.dtype

dtype('<M8[ns]')

In [20]:
stamp = ts.index[0]

In [21]:
stamp

Timestamp('2011-01-02 00:00:00')

In [22]:
stamp = ts.index[2]

In [23]:
ts[stamp]

0.11940916343825256

In [24]:
ts['20110110']

-0.6630320412978384

In [25]:
longer_ts = pd.Series(np.random.randn(1000),
                     ......:index=pd.date_range('1/1/2000', periods=1000))

In [26]:
longer_ts

2000-01-01    1.468734
2000-01-02   -0.258282
2000-01-03   -0.096351
2000-01-04   -0.315397
2000-01-05   -0.767137
                ...
2002-09-22   -2.051390
2002-09-23    1.898465
2002-09-24    0.058981
2002-09-25   -0.746866
2002-09-26   -1.540100
Freq: D, Length: 1000, dtype: float64

In [27]:
longer_ts['2001-05']

2001-05-01   -0.943437
2001-05-02   -1.045483
2001-05-03    0.405115
2001-05-04    1.613490
2001-05-05   -0.401578
2001-05-06    1.297401
2001-05-07   -3.015302
2001-05-08    0.424768
2001-05-09    0.183503
2001-05-10    0.089082
2001-05-11    0.862439
2001-05-12    0.697218
2001-05-13   -0.864231
2001-05-14    0.192333
2001-05-15    0.606684
2001-05-16    0.329183
2001-05-17    0.476903
2001-05-18    0.992039
2001-05-19    0.315982
2001-05-20    0.597035
2001-05-21   -0.737645
2001-05-22   -0.563470
2001-05-23    0.866109
2001-05-24    0.591575
2001-05-25   -0.454527
2001-05-26    0.161842
2001-05-27    0.324191
2001-05-28   -0.271469
2001-05-29   -1.684690
2001-05-30   -1.235180
2001-05-31   -0.075317
Freq: D, dtype: float64

In [28]:
ts[datetime(2011, 1, 7):]

2011-01-07    0.119409
2011-01-08   -0.945816
2011-01-10   -0.663032
2011-01-12   -1.129520
dtype: float64

In [29]:
ts

2011-01-02    0.436689
2011-01-05    0.535535
2011-01-07    0.119409
2011-01-08   -0.945816
2011-01-10   -0.663032
2011-01-12   -1.129520
dtype: float64

In [30]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.119409
2011-01-08   -0.945816
2011-01-10   -0.663032
dtype: float64

In [31]:
ts.truncate(after='1/9/2011')

2011-01-02    0.436689
2011-01-05    0.535535
2011-01-07    0.119409
2011-01-08   -0.945816
dtype: float64

In [32]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [33]:
long_df = pd.DataFrame(np.random.randn(100, 4),
                       ......: index=dates,
                       ......: columns=['Toscana', 'Milão',
                       ......: 'Napóles', 'Roma'])

In [34]:
long_df.loc['5-2001']

             Toscana     Milão   Napóles      Roma
2001-05-02  0.235062  0.004460 -1.968609 -0.324189
2001-05-09 -0.458400  0.464311 -0.309361 -0.011319
2001-05-16  0.548571 -1.285999 -1.903394  1.074027
2001-05-23 -0.180346 -1.118689  0.182134 -0.544000
2001-05-30  1.617249  1.178212 -0.736086 -1.154983

In [35]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          ......: '1/2/2000', '1/3/2000'])

In [36]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [37]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [38]:
dup_ts.index.is_unique

False

In [39]:
dup_ts['1/3/2000'] # não duplicado

4

In [40]:
dup_ts['1/2/2000'] # duplicado

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [41]:
grouped = dup_ts.groupby(level=0)

In [42]:
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [43]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [44]:
ts

2011-01-02    0.436689
2011-01-05    0.535535
2011-01-07    0.119409
2011-01-08   -0.945816
2011-01-10   -0.663032
2011-01-12   -1.129520
dtype: float64

In [45]:
resampler = ts.resample('D')

In [46]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [47]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [48]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [49]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [50]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

/tmp/ipykernel_14055/2615318183.py:1: FutureWarning: 'BM' is deprecated and will be removed in a future version, please use 'BME' instead.
  pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BME')

In [51]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [52]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')