In [2]:
import numpy as np
import pandas as pd

In [3]:
from datetime import datetime
from pandas.tseries.offsets import Hour, Minute
from pandas.tseries.offsets import Day, MonthEnd

In [4]:
now = datetime(2011, 11, 17)

In [5]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [6]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [7]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [8]:
offset = MonthEnd()

In [9]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [10]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [11]:
ts = pd.Series(np.random.randn(20),
               .......: index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [12]:
ts

2000-01-15   -0.149036
2000-01-19    0.161142
2000-01-23    0.858065
2000-01-27   -1.361295
2000-01-31   -1.453493
2000-02-04    1.008994
2000-02-08   -0.599482
2000-02-12   -1.213395
2000-02-16    0.398404
2000-02-20   -0.885301
2000-02-24   -0.087444
2000-02-28    0.981353
2000-03-03   -1.029820
2000-03-07   -1.955995
2000-03-11    0.041317
2000-03-15    1.141705
2000-03-19    0.080028
2000-03-23    0.511901
2000-03-27   -1.819635
2000-03-31    0.075111
Freq: 4D, dtype: float64

In [13]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.388924
2000-02-29   -0.056696
2000-03-31   -0.369424
dtype: float64

In [14]:
ts.resample('M').mean()

/tmp/ipykernel_18339/2305925915.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  ts.resample('M').mean()

2000-01-31   -0.388924
2000-02-29   -0.056696
2000-03-31   -0.369424
Freq: ME, dtype: float64