In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame({
    ......: 'x0': [1, 2, 3, 4, 5],
    ......: 'x1': [0.01, -0.01, 0.25, -4.1, 0.],
    ......: 'y': [-1.5, 0., 3.6, 1.3, -2.]})

In [3]:
data

   x0    x1    y
0   1  0.01 -1.5
1   2 -0.01  0.0
2   3  0.25  3.6
3   4 -4.10  1.3
4   5  0.00 -2.0

In [9]:
import random

In [10]:
init_x = 4

In [11]:
values = [init_x, init_x]

In [12]:
N = 1000

In [13]:
b0 = 0.8

In [14]:
b1 = 0.4

In [16]:
MAXLAGS = 5